openapi: 3.0.3
info:
  title: 'Le Hiboo API Documentation'
  description: "API REST pour la plateforme de billetterie et gestion d'événements Le Hiboo. Cette documentation couvre les endpoints pour les applications mobiles et web."
  version: 2.0.0
  contact:
    name: 'Support Le Hiboo'
    email: support@lehiboo.com
servers:
  -
    url: 'https://api.lehiboo.com'
    description: Production
  -
    url: 'https://api.lehiboo.localhost'
    description: 'Développement local'
tags:
  -
    name: Authentification
    description: "\nEndpoints pour l'inscription, la connexion et la gestion des sessions utilisateur."
  -
    name: Notifications
    description: "\nEndpoints pour gérer les notifications utilisateur."
  -
    name: Autres
    description: ''
  -
    name: 'Mobile - Chat IA'
    description: "\nEndpoints pour le chat IA et la gestion des quotas de messages."
  -
    name: 'Mobile - Hibons (Gamification)'
    description: "\nEndpoints de gamification : wallet HIBONs, daily bonus, roue de la fortune, achats."
  -
    name: Public
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: "    ## Obtenir un token\n\n    ### Pour les utilisateurs (Mobile App)\n    1. Créez un compte via `POST /v1/auth/register`\n    2. Connectez-vous via `POST /v1/auth/login`\n    3. Récupérez le token dans la réponse\n\n    ### Pour les développeurs\n    Utilisez l'endpoint `POST /v1/auth/login` avec vos identifiants pour obtenir un token.\n\n    ### Durée de vie\n    Les tokens n'expirent pas automatiquement. Utilisez `POST /v1/auth/logout` pour révoquer un token."
security:
  -
    default: []
paths:
  /api/v1/auth/register:
    post:
      summary: 'Register a new user.'
      operationId: registerANewUser
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Authentification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'This field is required when none of <code>first_name</code> and <code>last_name</code> are present. Le champ value ne doit pas dépasser 255 caractères.'
                  example: b
                  nullable: true
                first_name:
                  type: string
                  description: 'This field is required when <code>name</code> is not present. Le champ value ne doit pas dépasser 255 caractères.'
                  example: 'n'
                  nullable: true
                last_name:
                  type: string
                  description: 'This field is required when <code>name</code> is not present. Le champ value ne doit pas dépasser 255 caractères.'
                  example: g
                  nullable: true
                email:
                  type: string
                  description: 'Le champ value doit être une adresse email valide. Le champ value ne doit pas dépasser 255 caractères.'
                  example: rowan.gulgowski@example.com
                phone:
                  type: string
                  description: 'Must match the regex /^(\+33|0)[1-9](\d{2}){4}$/. Le champ value ne doit pas dépasser 20 caractères.'
                  example: dljnikhwaykcmyuw
                  nullable: true
                password:
                  type: string
                  description: ''
                  example: '|]|{+-'
                role:
                  type: string
                  description: ''
                  example: vendor
                  enum:
                    - customer
                    - vendor
                device_name:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 255 caractères.'
                  example: v
              required:
                - email
                - password
      security: []
  /api/v1/auth/register/vendor:
    post:
      summary: 'Register a new vendor (user + organization in one step).'
      operationId: registerANewVendoruser+OrganizationInOneStep
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Authentification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: 'User data. Le champ value ne doit pas dépasser 100 caractères.'
                  example: b
                last_name:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 100 caractères.'
                  example: 'n'
                email:
                  type: string
                  description: 'Le champ value doit être une adresse email valide.'
                  example: ashly64@example.com
                password:
                  type: string
                  description: 'Le champ value doit contenir au moins 8 caractères.'
                  example: pBNvYg
                phone:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 20 caractères.'
                  example: hwaykcmyuwpwlvqw
                  nullable: true
                organization_type:
                  type: string
                  description: 'Organization data.'
                  example: architecto
                organization_name:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 255 caractères.'
                  example: 'n'
                siret:
                  type: string
                  description: 'Must match the regex /^[0-9]+$/. Le champ value doit contenir 14 caractères.'
                  example: gzmiyvdljnikhw
                  nullable: true
                address:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 500 caractères.'
                  example: a
                  nullable: true
                city:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 100 caractères.'
                  example: 'y'
                  nullable: true
                postal_code:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 10 caractères.'
                  example: kcmyuw
                  nullable: true
                country:
                  type: string
                  description: 'Le champ value doit contenir 2 caractères.'
                  example: pw
                  nullable: true
                website:
                  type: string
                  description: 'Must be a valid URL. Le champ value ne doit pas dépasser 255 caractères.'
                  example: l
                  nullable: true
                plan:
                  type: string
                  description: ''
                  example: pro
                  enum:
                    - starter
                    - pro
                    - enterprise
                  nullable: true
                accept_terms:
                  type: boolean
                  description: 'Consents. Must be accepted.'
                  example: true
                accept_vendor_terms:
                  type: boolean
                  description: 'Must be accepted.'
                  example: true
              required:
                - first_name
                - last_name
                - email
                - password
                - organization_type
                - organization_name
                - accept_terms
                - accept_vendor_terms
      security: []
  /api/v1/auth/login:
    post:
      summary: 'Authenticate user and return token.'
      operationId: authenticateUserAndReturnToken
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Authentification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Le champ value doit être une adresse email valide. Le champ value ne doit pas dépasser 255 caractères.'
                  example: gbailey@example.net
                password:
                  type: string
                  description: 'Le champ value doit contenir au moins 8 caractères.'
                  example: '+-0pBNvYgxwmi/#iw'
                device_name:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 255 caractères.'
                  example: u
              required:
                - email
                - password
      security: []
  /api/v1/auth/logout:
    post:
      summary: 'Revoke the current token.'
      operationId: revokeTheCurrentToken
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Authentification
      security: []
  /api/v1/auth/logout-all:
    post:
      summary: 'Revoke all tokens for the authenticated user.'
      operationId: revokeAllTokensForTheAuthenticatedUser
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Authentification
      security: []
  /api/v1/auth/me:
    get:
      summary: "Get the authenticated user's profile."
      operationId: getTheAuthenticatedUsersProfile
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Authentification
      security: []
  /api/v1/auth/refresh:
    post:
      summary: 'Refresh the current token (create new token, revoke old one).'
      operationId: refreshTheCurrentTokencreateNewTokenRevokeOldOne
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Authentification
      security: []
  /api/v1/auth/tokens:
    get:
      summary: 'List all active tokens for the authenticated user.'
      operationId: listAllActiveTokensForTheAuthenticatedUser
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Authentification
      security: []
  '/api/v1/auth/tokens/{tokenId}':
    delete:
      summary: 'Revoke a specific token by ID.'
      operationId: revokeASpecificTokenByID
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Authentification
      security: []
    parameters:
      -
        in: path
        name: tokenId
        description: ''
        example: '564'
        required: true
        schema:
          type: string
  /api/v1/account/profile:
    put:
      summary: "Update the authenticated user's profile."
      operationId: updateTheAuthenticatedUsersProfile
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Authentification
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 100 caractères.'
                  example: b
                last_name:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 100 caractères.'
                  example: 'n'
                phone:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 20 caractères.'
                  example: gzmiyvdljnikhway
                  nullable: true
                job_title:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 100 caractères.'
                  example: k
                  nullable: true
                avatar:
                  type: string
                  format: binary
                  description: 'Le champ value doit être une image. Le fichier value ne doit pas dépasser 5120 kilo-octets.'
                  nullable: true
      security: []
  /api/v1/account/password:
    post:
      summary: "Update the authenticated user's password."
      operationId: updateTheAuthenticatedUsersPassword
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Authentification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: ''
                  example: architecto
                password:
                  type: string
                  description: 'Le champ value doit contenir au moins 8 caractères.'
                  example: ']|{+-0pBNvYg'
              required:
                - current_password
                - password
      security: []
  /api/v1/notifications:
    get:
      summary: 'Get paginated list of notifications for the authenticated user.'
      operationId: getPaginatedListOfNotificationsForTheAuthenticatedUser
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Notifications
      security: []
  /api/v1/notifications/unread-count:
    get:
      summary: 'Get unread notifications count.'
      operationId: getUnreadNotificationsCount
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Notifications
      security: []
  /api/v1/notifications/read-all:
    post:
      summary: 'Mark all notifications as read.'
      operationId: markAllNotificationsAsRead
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Notifications
      security: []
  /api/v1/notifications/read:
    delete:
      summary: 'Delete all read notifications.'
      operationId: deleteAllReadNotifications
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Notifications
      security: []
  '/api/v1/notifications/{id}':
    get:
      summary: 'Get a single notification.'
      operationId: getASingleNotification
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Notifications
      security: []
    delete:
      summary: 'Delete a notification.'
      operationId: deleteANotification
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Notifications
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the notification.'
        example: architecto
        required: true
        schema:
          type: string
  '/api/v1/notifications/{id}/read':
    patch:
      summary: 'Mark a notification as read.'
      operationId: markANotificationAsRead
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Notifications
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the notification.'
        example: architecto
        required: true
        schema:
          type: string
  /api/health:
    get:
      summary: ''
      operationId: getApiHealth
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: ok
                  timestamp: '2026-01-22T16:17:59+01:00'
                  version: 2.0.0
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    example: '2026-01-22T16:17:59+01:00'
                  version:
                    type: string
                    example: 2.0.0
      tags:
        - Autres
      security: []
  /api/translations/meta:
    get:
      summary: 'Get metadata about supported locales.'
      operationId: getMetadataAboutSupportedLocales
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    supported_locales:
                      - fr
                      - en
                      - es
                      - de
                      - nl
                      - ar
                    default_locale: fr
                    rtl_locales:
                      - ar
                    locale_names:
                      fr: Français
                      en: English
                      es: Español
                      de: Deutsch
                      nl: Nederlands
                      ar: العربية
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      supported_locales:
                        type: array
                        example:
                          - fr
                          - en
                          - es
                          - de
                          - nl
                          - ar
                        items:
                          type: string
                      default_locale:
                        type: string
                        example: fr
                      rtl_locales:
                        type: array
                        example:
                          - ar
                        items:
                          type: string
                      locale_names:
                        type: object
                        properties:
                          fr:
                            type: string
                            example: Français
                          en:
                            type: string
                            example: English
                          es:
                            type: string
                            example: Español
                          de:
                            type: string
                            example: Deutsch
                          nl:
                            type: string
                            example: Nederlands
                          ar:
                            type: string
                            example: العربية
      tags:
        - Autres
      security: []
  '/api/translations/{locale}':
    get:
      summary: 'Get all translations for a specific locale.'
      operationId: getAllTranslationsForASpecificLocale
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    locale: fr
                    translations:
                      auth:
                        failed: 'Ces identifiants ne correspondent pas à nos enregistrements.'
                        password: 'Le mot de passe est incorrect.'
                        throttle: 'Tentatives de connexion trop nombreuses. Veuillez essayer de nouveau dans :seconds secondes.'
                      collaboration:
                        invitation:
                          subject: 'Invitation à collaborer sur :event'
                          title: 'Invitation à collaborer'
                          greeting: 'Bonjour,'
                          intro: "L'organisation :organization vous invite à collaborer sur l'événement :event."
                          details_title: "Détails de l'invitation"
                          event: Événement
                          invited_by: 'Invité par'
                          role: 'Rôle proposé'
                          permissions: Permissions
                          can_edit: "Modification de l'événement"
                          can_manage_bookings: 'Gestion des réservations'
                          can_see_finances: 'Accès aux finances'
                          what_can_you_do: 'Que pouvez-vous faire ?'
                          accept_benefits: 'En acceptant cette invitation, vous pourrez :'
                          access_event: "Accéder aux détails de l'événement"
                          modify_event: "Modifier les informations de l'événement"
                          manage_bookings: 'Gérer les réservations et les participants'
                          view_finances: 'Consulter les données financières'
                          view_invitation: "Voir l'invitation"
                          note: 'Vous pouvez accepter ou décliner cette invitation à tout moment depuis votre espace de gestion des collaborations.'
                        accepted:
                          subject: ':organization a accepté votre invitation'
                          title: 'Invitation acceptée'
                          greeting: 'Bonjour,'
                          intro: "Bonne nouvelle ! L'organisation :organization a accepté votre invitation à collaborer sur l'événement :event."
                          details_title: 'Détails de la collaboration'
                          event: Événement
                          collaborator: Collaborateur
                          role: Rôle
                          accepted_at: 'Accepté le'
                          permissions: 'Permissions accordées'
                          next_steps: 'Prochaines étapes'
                          what_collaborator_can_do: 'Le collaborateur peut maintenant :'
                          access_event: "Accéder à l'événement depuis son espace de gestion"
                          perform_actions: 'Effectuer les actions selon les permissions que vous lui avez accordées'
                          work_together: 'Travailler en équipe sur cet événement'
                          manage_permissions: 'Vous pouvez modifier les permissions ou retirer le collaborateur à tout moment depuis la page de gestion des collaborateurs.'
                          manage_collaborators: 'Gérer les collaborateurs'
                        rejected:
                          subject: ':organization a décliné votre invitation'
                          title: 'Invitation déclinée'
                          greeting: 'Bonjour,'
                          intro: "L'organisation :organization a décliné votre invitation à collaborer sur l'événement :event."
                          details_title: Détails
                          event: Événement
                          invited_organization: 'Organisation invitée'
                          proposed_role: 'Rôle proposé'
                          what_to_do: 'Que faire maintenant ?'
                          dont_worry: 'Ne vous inquiétez pas, vous pouvez :'
                          invite_another: 'Inviter une autre organisation à collaborer'
                          contact_organization: "Contacter l'organisation pour comprendre les raisons du refus"
                          manage_alone: "Gérer votre événement seul ou avec d'autres collaborateurs"
                          view_event: "Voir l'événement"
                        removed:
                          subject: 'Collaboration retirée pour :event'
                          title: 'Collaboration retirée'
                          greeting: 'Bonjour,'
                          intro: "Nous vous informons que votre collaboration sur l'événement :event a été retirée par l'organisation :organization."
                          details_title: Détails
                          event: Événement
                          your_organization: 'Votre organisation'
                          previous_role: 'Rôle que vous aviez'
                          what_it_means: 'Ce que cela signifie'
                          no_longer_access: "Vous n'avez plus accès à :"
                          event_management: 'La gestion de cet événement'
                          bookings: 'Les réservations associées'
                          finances: 'Les données financières de cet événement'
                          error_contact: "Si vous pensez qu'il s'agit d'une erreur, nous vous invitons à contacter directement l'organisation :organization."
                        invitation_declined:
                          subject: ':email a décliné votre invitation pour :event'
                          title: 'Invitation déclinée'
                          greeting: 'Bonjour,'
                          intro: "L'adresse :email a décliné votre invitation à collaborer sur l'événement :event."
                          your_event: 'votre événement'
                          details_title: Détails
                          event: Événement
                          invited_email: 'Email invité'
                          proposed_role: 'Rôle proposé'
                          what_to_do: 'Que faire maintenant ?'
                          dont_worry: 'Ne vous inquiétez pas, vous pouvez :'
                          invite_another: 'Inviter une autre personne ou organisation à collaborer'
                          contact_invitee: 'Contacter la personne pour comprendre les raisons du refus'
                          manage_alone: "Gérer votre événement seul ou avec d'autres collaborateurs"
                          view_event: "Voir l'événement"
                        common:
                          thanks: 'Merci de faire confiance à Le Hiboo !'
                          goodbye: 'À bientôt,'
                          team: "L'équipe :app"
                      pagination:
                        previous: '&laquo; Précédent'
                        next: 'Suivant &raquo;'
                      passwords:
                        reset: 'Votre mot de passe a été réinitialisé.'
                        sent: 'Nous vous avons envoyé un lien de réinitialisation de mot de passe par email.'
                        throttled: 'Veuillez patienter avant de réessayer.'
                        token: 'Ce jeton de réinitialisation du mot de passe est invalide.'
                        user: 'Aucun utilisateur trouvé avec cette adresse email.'
                      subscription:
                        limits:
                          max_events_reached: "Vous avez atteint la limite d'événements de votre plan. Passez à un plan supérieur pour créer plus d'événements."
                          max_venues_reached: 'Vous avez atteint la limite de lieux de votre plan. Passez à un plan supérieur pour ajouter plus de lieux.'
                          max_team_members_reached: "Vous avez atteint la limite de membres d'équipe de votre plan. Passez à un plan supérieur pour inviter plus de collaborateurs."
                          max_storage_reached: "Vous avez atteint la limite de stockage de votre plan. Passez à un plan supérieur pour plus d'espace."
                          max_bookings_reached: 'Ce vendeur a atteint sa limite de réservations pour ce mois. Veuillez réessayer ultérieurement.'
                      validation:
                        accepted: 'Le champ :attribute doit être accepté.'
                        accepted_if: 'Le champ :attribute doit être accepté quand :other est :value.'
                        active_url: 'Le champ :attribute doit être une URL valide.'
                        after: 'Le champ :attribute doit être une date postérieure à :date.'
                        after_or_equal: 'Le champ :attribute doit être une date postérieure ou égale à :date.'
                        alpha: 'Le champ :attribute doit contenir uniquement des lettres.'
                        alpha_dash: 'Le champ :attribute doit contenir uniquement des lettres, des chiffres, des tirets et des underscores.'
                        alpha_num: 'Le champ :attribute doit contenir uniquement des lettres et des chiffres.'
                        array: 'Le champ :attribute doit être un tableau.'
                        ascii: 'Le champ :attribute doit contenir uniquement des caractères alphanumériques et des symboles à un octet.'
                        before: 'Le champ :attribute doit être une date antérieure à :date.'
                        before_or_equal: 'Le champ :attribute doit être une date antérieure ou égale à :date.'
                        between:
                          array: 'Le champ :attribute doit contenir entre :min et :max éléments.'
                          file: 'Le fichier :attribute doit avoir une taille entre :min et :max kilo-octets.'
                          numeric: 'Le champ :attribute doit être compris entre :min et :max.'
                          string: 'Le champ :attribute doit contenir entre :min et :max caractères.'
                        boolean: 'Le champ :attribute doit être vrai ou faux.'
                        can: 'Le champ :attribute contient une valeur non autorisée.'
                        confirmed: 'Le champ de confirmation :attribute ne correspond pas.'
                        contains: 'Le champ :attribute manque une valeur requise.'
                        current_password: 'Le mot de passe est incorrect.'
                        date: 'Le champ :attribute doit être une date valide.'
                        date_equals: 'Le champ :attribute doit être une date égale à :date.'
                        date_format: 'Le champ :attribute doit correspondre au format :format.'
                        decimal: 'Le champ :attribute doit avoir :decimal décimales.'
                        declined: 'Le champ :attribute doit être décliné.'
                        declined_if: 'Le champ :attribute doit être décliné quand :other est :value.'
                        different: 'Les champs :attribute et :other doivent être différents.'
                        digits: 'Le champ :attribute doit contenir :digits chiffres.'
                        digits_between: 'Le champ :attribute doit contenir entre :min et :max chiffres.'
                        dimensions: "Les dimensions de l'image :attribute sont invalides."
                        distinct: 'Le champ :attribute a une valeur dupliquée.'
                        doesnt_end_with: 'Le champ :attribute ne doit pas se terminer par : :values.'
                        doesnt_start_with: 'Le champ :attribute ne doit pas commencer par : :values.'
                        email: 'Le champ :attribute doit être une adresse email valide.'
                        ends_with: 'Le champ :attribute doit se terminer par : :values.'
                        enum: 'La valeur sélectionnée pour :attribute est invalide.'
                        exists: 'La valeur sélectionnée pour :attribute est invalide.'
                        extensions: 'Le champ :attribute doit avoir une des extensions suivantes : :values.'
                        file: 'Le champ :attribute doit être un fichier.'
                        filled: 'Le champ :attribute doit avoir une valeur.'
                        gt:
                          array: 'Le champ :attribute doit contenir plus de :value éléments.'
                          file: 'Le fichier :attribute doit être supérieur à :value kilo-octets.'
                          numeric: 'Le champ :attribute doit être supérieur à :value.'
                          string: 'Le champ :attribute doit contenir plus de :value caractères.'
                        gte:
                          array: 'Le champ :attribute doit contenir au moins :value éléments.'
                          file: 'Le fichier :attribute doit être supérieur ou égal à :value kilo-octets.'
                          numeric: 'Le champ :attribute doit être supérieur ou égal à :value.'
                          string: 'Le champ :attribute doit contenir au moins :value caractères.'
                        hex_color: 'Le champ :attribute doit être une couleur hexadécimale valide.'
                        image: 'Le champ :attribute doit être une image.'
                        in: 'La valeur sélectionnée pour :attribute est invalide.'
                        in_array: 'Le champ :attribute doit exister dans :other.'
                        integer: 'Le champ :attribute doit être un entier.'
                        ip: 'Le champ :attribute doit être une adresse IP valide.'
                        ipv4: 'Le champ :attribute doit être une adresse IPv4 valide.'
                        ipv6: 'Le champ :attribute doit être une adresse IPv6 valide.'
                        json: 'Le champ :attribute doit être une chaîne JSON valide.'
                        list: 'Le champ :attribute doit être une liste.'
                        lowercase: 'Le champ :attribute doit être en minuscules.'
                        lt:
                          array: 'Le champ :attribute doit contenir moins de :value éléments.'
                          file: 'Le fichier :attribute doit être inférieur à :value kilo-octets.'
                          numeric: 'Le champ :attribute doit être inférieur à :value.'
                          string: 'Le champ :attribute doit contenir moins de :value caractères.'
                        lte:
                          array: 'Le champ :attribute ne doit pas contenir plus de :value éléments.'
                          file: 'Le fichier :attribute doit être inférieur ou égal à :value kilo-octets.'
                          numeric: 'Le champ :attribute doit être inférieur ou égal à :value.'
                          string: 'Le champ :attribute ne doit pas contenir plus de :value caractères.'
                        mac_address: 'Le champ :attribute doit être une adresse MAC valide.'
                        max:
                          array: 'Le champ :attribute ne doit pas contenir plus de :max éléments.'
                          file: 'Le fichier :attribute ne doit pas dépasser :max kilo-octets.'
                          numeric: 'Le champ :attribute ne doit pas être supérieur à :max.'
                          string: 'Le champ :attribute ne doit pas dépasser :max caractères.'
                        max_digits: 'Le champ :attribute ne doit pas contenir plus de :max chiffres.'
                        mimes: 'Le champ :attribute doit être un fichier de type : :values.'
                        mimetypes: 'Le champ :attribute doit être un fichier de type : :values.'
                        min:
                          array: 'Le champ :attribute doit contenir au moins :min éléments.'
                          file: 'Le fichier :attribute doit faire au moins :min kilo-octets.'
                          numeric: 'Le champ :attribute doit être au moins :min.'
                          string: 'Le champ :attribute doit contenir au moins :min caractères.'
                        min_digits: 'Le champ :attribute doit contenir au moins :min chiffres.'
                        missing: 'Le champ :attribute doit être absent.'
                        missing_if: 'Le champ :attribute doit être absent quand :other est :value.'
                        missing_unless: 'Le champ :attribute doit être absent sauf si :other est :value.'
                        missing_with: 'Le champ :attribute doit être absent quand :values est présent.'
                        missing_with_all: 'Le champ :attribute doit être absent quand :values sont présents.'
                        multiple_of: 'Le champ :attribute doit être un multiple de :value.'
                        not_in: 'La valeur sélectionnée pour :attribute est invalide.'
                        not_regex: 'Le format du champ :attribute est invalide.'
                        numeric: 'Le champ :attribute doit être un nombre.'
                        password:
                          letters: 'Le champ :attribute doit contenir au moins une lettre.'
                          mixed: 'Le champ :attribute doit contenir au moins une majuscule et une minuscule.'
                          numbers: 'Le champ :attribute doit contenir au moins un chiffre.'
                          symbols: 'Le champ :attribute doit contenir au moins un symbole.'
                          uncompromised: 'Le :attribute donné est apparu dans une fuite de données. Veuillez choisir un autre :attribute.'
                        present: 'Le champ :attribute doit être présent.'
                        present_if: 'Le champ :attribute doit être présent quand :other est :value.'
                        present_unless: 'Le champ :attribute doit être présent sauf si :other est :value.'
                        present_with: 'Le champ :attribute doit être présent quand :values est présent.'
                        present_with_all: 'Le champ :attribute doit être présent quand :values sont présents.'
                        prohibited: 'Le champ :attribute est interdit.'
                        prohibited_if: 'Le champ :attribute est interdit quand :other est :value.'
                        prohibited_unless: 'Le champ :attribute est interdit sauf si :other est dans :values.'
                        prohibits: 'Le champ :attribute interdit la présence de :other.'
                        regex: 'Le format du champ :attribute est invalide.'
                        required: 'Le champ :attribute est requis.'
                        required_array_keys: 'Le champ :attribute doit contenir des entrées pour : :values.'
                        required_if: 'Le champ :attribute est requis quand :other est :value.'
                        required_if_accepted: 'Le champ :attribute est requis quand :other est accepté.'
                        required_if_declined: 'Le champ :attribute est requis quand :other est décliné.'
                        required_unless: 'Le champ :attribute est requis sauf si :other est dans :values.'
                        required_with: 'Le champ :attribute est requis quand :values est présent.'
                        required_with_all: 'Le champ :attribute est requis quand :values sont présents.'
                        required_without: "Le champ :attribute est requis quand :values n'est pas présent."
                        required_without_all: "Le champ :attribute est requis quand aucun de :values n'est présent."
                        same: 'Les champs :attribute et :other doivent correspondre.'
                        size:
                          array: 'Le champ :attribute doit contenir :size éléments.'
                          file: 'Le fichier :attribute doit faire :size kilo-octets.'
                          numeric: 'Le champ :attribute doit être :size.'
                          string: 'Le champ :attribute doit contenir :size caractères.'
                        starts_with: 'Le champ :attribute doit commencer par : :values.'
                        string: 'Le champ :attribute doit être une chaîne de caractères.'
                        timezone: 'Le champ :attribute doit être un fuseau horaire valide.'
                        unique: 'La valeur du champ :attribute est déjà utilisée.'
                        uploaded: 'Le téléchargement du fichier :attribute a échoué.'
                        uppercase: 'Le champ :attribute doit être en majuscules.'
                        url: 'Le champ :attribute doit être une URL valide.'
                        ulid: 'Le champ :attribute doit être un ULID valide.'
                        uuid: 'Le champ :attribute doit être un UUID valide.'
                        custom:
                          email:
                            unique: 'Cette adresse email est déjà utilisée.'
                          phone:
                            unique: 'Ce numéro de téléphone est déjà utilisé.'
                          password:
                            min: 'Le mot de passe doit contenir au moins :min caractères.'
                        attributes:
                          name: nom
                          email: email
                          password: 'mot de passe'
                          password_confirmation: 'confirmation du mot de passe'
                          phone: téléphone
                          first_name: prénom
                          last_name: 'nom de famille'
                          address: adresse
                          city: ville
                          postal_code: 'code postal'
                          country: pays
                          title: titre
                          description: description
                          price: prix
                          quantity: quantité
                          date: date
                          time: heure
                          start_date: 'date de début'
                          end_date: 'date de fin'
                          image: image
                          file: fichier
                          content: contenu
                          message: message
                          subject: sujet
                          amount: montant
                    version: 638f128c9bc6f10b2931d45c6f4c5cb6
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      locale:
                        type: string
                        example: fr
                      translations:
                        type: object
                        properties:
                          auth:
                            type: object
                            properties:
                              failed:
                                type: string
                                example: 'Ces identifiants ne correspondent pas à nos enregistrements.'
                              password:
                                type: string
                                example: 'Le mot de passe est incorrect.'
                              throttle:
                                type: string
                                example: 'Tentatives de connexion trop nombreuses. Veuillez essayer de nouveau dans :seconds secondes.'
                          collaboration:
                            type: object
                            properties:
                              invitation:
                                type: object
                                properties:
                                  subject:
                                    type: string
                                    example: 'Invitation à collaborer sur :event'
                                  title:
                                    type: string
                                    example: 'Invitation à collaborer'
                                  greeting:
                                    type: string
                                    example: 'Bonjour,'
                                  intro:
                                    type: string
                                    example: "L'organisation :organization vous invite à collaborer sur l'événement :event."
                                  details_title:
                                    type: string
                                    example: "Détails de l'invitation"
                                  event:
                                    type: string
                                    example: Événement
                                  invited_by:
                                    type: string
                                    example: 'Invité par'
                                  role:
                                    type: string
                                    example: 'Rôle proposé'
                                  permissions:
                                    type: string
                                    example: Permissions
                                  can_edit:
                                    type: string
                                    example: "Modification de l'événement"
                                  can_manage_bookings:
                                    type: string
                                    example: 'Gestion des réservations'
                                  can_see_finances:
                                    type: string
                                    example: 'Accès aux finances'
                                  what_can_you_do:
                                    type: string
                                    example: 'Que pouvez-vous faire ?'
                                  accept_benefits:
                                    type: string
                                    example: 'En acceptant cette invitation, vous pourrez :'
                                  access_event:
                                    type: string
                                    example: "Accéder aux détails de l'événement"
                                  modify_event:
                                    type: string
                                    example: "Modifier les informations de l'événement"
                                  manage_bookings:
                                    type: string
                                    example: 'Gérer les réservations et les participants'
                                  view_finances:
                                    type: string
                                    example: 'Consulter les données financières'
                                  view_invitation:
                                    type: string
                                    example: "Voir l'invitation"
                                  note:
                                    type: string
                                    example: 'Vous pouvez accepter ou décliner cette invitation à tout moment depuis votre espace de gestion des collaborations.'
                              accepted:
                                type: object
                                properties:
                                  subject:
                                    type: string
                                    example: ':organization a accepté votre invitation'
                                  title:
                                    type: string
                                    example: 'Invitation acceptée'
                                  greeting:
                                    type: string
                                    example: 'Bonjour,'
                                  intro:
                                    type: string
                                    example: "Bonne nouvelle ! L'organisation :organization a accepté votre invitation à collaborer sur l'événement :event."
                                  details_title:
                                    type: string
                                    example: 'Détails de la collaboration'
                                  event:
                                    type: string
                                    example: Événement
                                  collaborator:
                                    type: string
                                    example: Collaborateur
                                  role:
                                    type: string
                                    example: Rôle
                                  accepted_at:
                                    type: string
                                    example: 'Accepté le'
                                  permissions:
                                    type: string
                                    example: 'Permissions accordées'
                                  next_steps:
                                    type: string
                                    example: 'Prochaines étapes'
                                  what_collaborator_can_do:
                                    type: string
                                    example: 'Le collaborateur peut maintenant :'
                                  access_event:
                                    type: string
                                    example: "Accéder à l'événement depuis son espace de gestion"
                                  perform_actions:
                                    type: string
                                    example: 'Effectuer les actions selon les permissions que vous lui avez accordées'
                                  work_together:
                                    type: string
                                    example: 'Travailler en équipe sur cet événement'
                                  manage_permissions:
                                    type: string
                                    example: 'Vous pouvez modifier les permissions ou retirer le collaborateur à tout moment depuis la page de gestion des collaborateurs.'
                                  manage_collaborators:
                                    type: string
                                    example: 'Gérer les collaborateurs'
                              rejected:
                                type: object
                                properties:
                                  subject:
                                    type: string
                                    example: ':organization a décliné votre invitation'
                                  title:
                                    type: string
                                    example: 'Invitation déclinée'
                                  greeting:
                                    type: string
                                    example: 'Bonjour,'
                                  intro:
                                    type: string
                                    example: "L'organisation :organization a décliné votre invitation à collaborer sur l'événement :event."
                                  details_title:
                                    type: string
                                    example: Détails
                                  event:
                                    type: string
                                    example: Événement
                                  invited_organization:
                                    type: string
                                    example: 'Organisation invitée'
                                  proposed_role:
                                    type: string
                                    example: 'Rôle proposé'
                                  what_to_do:
                                    type: string
                                    example: 'Que faire maintenant ?'
                                  dont_worry:
                                    type: string
                                    example: 'Ne vous inquiétez pas, vous pouvez :'
                                  invite_another:
                                    type: string
                                    example: 'Inviter une autre organisation à collaborer'
                                  contact_organization:
                                    type: string
                                    example: "Contacter l'organisation pour comprendre les raisons du refus"
                                  manage_alone:
                                    type: string
                                    example: "Gérer votre événement seul ou avec d'autres collaborateurs"
                                  view_event:
                                    type: string
                                    example: "Voir l'événement"
                              removed:
                                type: object
                                properties:
                                  subject:
                                    type: string
                                    example: 'Collaboration retirée pour :event'
                                  title:
                                    type: string
                                    example: 'Collaboration retirée'
                                  greeting:
                                    type: string
                                    example: 'Bonjour,'
                                  intro:
                                    type: string
                                    example: "Nous vous informons que votre collaboration sur l'événement :event a été retirée par l'organisation :organization."
                                  details_title:
                                    type: string
                                    example: Détails
                                  event:
                                    type: string
                                    example: Événement
                                  your_organization:
                                    type: string
                                    example: 'Votre organisation'
                                  previous_role:
                                    type: string
                                    example: 'Rôle que vous aviez'
                                  what_it_means:
                                    type: string
                                    example: 'Ce que cela signifie'
                                  no_longer_access:
                                    type: string
                                    example: "Vous n'avez plus accès à :"
                                  event_management:
                                    type: string
                                    example: 'La gestion de cet événement'
                                  bookings:
                                    type: string
                                    example: 'Les réservations associées'
                                  finances:
                                    type: string
                                    example: 'Les données financières de cet événement'
                                  error_contact:
                                    type: string
                                    example: "Si vous pensez qu'il s'agit d'une erreur, nous vous invitons à contacter directement l'organisation :organization."
                              invitation_declined:
                                type: object
                                properties:
                                  subject:
                                    type: string
                                    example: ':email a décliné votre invitation pour :event'
                                  title:
                                    type: string
                                    example: 'Invitation déclinée'
                                  greeting:
                                    type: string
                                    example: 'Bonjour,'
                                  intro:
                                    type: string
                                    example: "L'adresse :email a décliné votre invitation à collaborer sur l'événement :event."
                                  your_event:
                                    type: string
                                    example: 'votre événement'
                                  details_title:
                                    type: string
                                    example: Détails
                                  event:
                                    type: string
                                    example: Événement
                                  invited_email:
                                    type: string
                                    example: 'Email invité'
                                  proposed_role:
                                    type: string
                                    example: 'Rôle proposé'
                                  what_to_do:
                                    type: string
                                    example: 'Que faire maintenant ?'
                                  dont_worry:
                                    type: string
                                    example: 'Ne vous inquiétez pas, vous pouvez :'
                                  invite_another:
                                    type: string
                                    example: 'Inviter une autre personne ou organisation à collaborer'
                                  contact_invitee:
                                    type: string
                                    example: 'Contacter la personne pour comprendre les raisons du refus'
                                  manage_alone:
                                    type: string
                                    example: "Gérer votre événement seul ou avec d'autres collaborateurs"
                                  view_event:
                                    type: string
                                    example: "Voir l'événement"
                              common:
                                type: object
                                properties:
                                  thanks:
                                    type: string
                                    example: 'Merci de faire confiance à Le Hiboo !'
                                  goodbye:
                                    type: string
                                    example: 'À bientôt,'
                                  team:
                                    type: string
                                    example: "L'équipe :app"
                          pagination:
                            type: object
                            properties:
                              previous:
                                type: string
                                example: '&laquo; Précédent'
                              next:
                                type: string
                                example: 'Suivant &raquo;'
                          passwords:
                            type: object
                            properties:
                              reset:
                                type: string
                                example: 'Votre mot de passe a été réinitialisé.'
                              sent:
                                type: string
                                example: 'Nous vous avons envoyé un lien de réinitialisation de mot de passe par email.'
                              throttled:
                                type: string
                                example: 'Veuillez patienter avant de réessayer.'
                              token:
                                type: string
                                example: 'Ce jeton de réinitialisation du mot de passe est invalide.'
                              user:
                                type: string
                                example: 'Aucun utilisateur trouvé avec cette adresse email.'
                          subscription:
                            type: object
                            properties:
                              limits:
                                type: object
                                properties:
                                  max_events_reached:
                                    type: string
                                    example: "Vous avez atteint la limite d'événements de votre plan. Passez à un plan supérieur pour créer plus d'événements."
                                  max_venues_reached:
                                    type: string
                                    example: 'Vous avez atteint la limite de lieux de votre plan. Passez à un plan supérieur pour ajouter plus de lieux.'
                                  max_team_members_reached:
                                    type: string
                                    example: "Vous avez atteint la limite de membres d'équipe de votre plan. Passez à un plan supérieur pour inviter plus de collaborateurs."
                                  max_storage_reached:
                                    type: string
                                    example: "Vous avez atteint la limite de stockage de votre plan. Passez à un plan supérieur pour plus d'espace."
                                  max_bookings_reached:
                                    type: string
                                    example: 'Ce vendeur a atteint sa limite de réservations pour ce mois. Veuillez réessayer ultérieurement.'
                          validation:
                            type: object
                            properties:
                              accepted:
                                type: string
                                example: 'Le champ :attribute doit être accepté.'
                              accepted_if:
                                type: string
                                example: 'Le champ :attribute doit être accepté quand :other est :value.'
                              active_url:
                                type: string
                                example: 'Le champ :attribute doit être une URL valide.'
                              after:
                                type: string
                                example: 'Le champ :attribute doit être une date postérieure à :date.'
                              after_or_equal:
                                type: string
                                example: 'Le champ :attribute doit être une date postérieure ou égale à :date.'
                              alpha:
                                type: string
                                example: 'Le champ :attribute doit contenir uniquement des lettres.'
                              alpha_dash:
                                type: string
                                example: 'Le champ :attribute doit contenir uniquement des lettres, des chiffres, des tirets et des underscores.'
                              alpha_num:
                                type: string
                                example: 'Le champ :attribute doit contenir uniquement des lettres et des chiffres.'
                              array:
                                type: string
                                example: 'Le champ :attribute doit être un tableau.'
                              ascii:
                                type: string
                                example: 'Le champ :attribute doit contenir uniquement des caractères alphanumériques et des symboles à un octet.'
                              before:
                                type: string
                                example: 'Le champ :attribute doit être une date antérieure à :date.'
                              before_or_equal:
                                type: string
                                example: 'Le champ :attribute doit être une date antérieure ou égale à :date.'
                              between:
                                type: object
                                properties:
                                  array:
                                    type: string
                                    example: 'Le champ :attribute doit contenir entre :min et :max éléments.'
                                  file:
                                    type: string
                                    example: 'Le fichier :attribute doit avoir une taille entre :min et :max kilo-octets.'
                                  numeric:
                                    type: string
                                    example: 'Le champ :attribute doit être compris entre :min et :max.'
                                  string:
                                    type: string
                                    example: 'Le champ :attribute doit contenir entre :min et :max caractères.'
                              boolean:
                                type: string
                                example: 'Le champ :attribute doit être vrai ou faux.'
                              can:
                                type: string
                                example: 'Le champ :attribute contient une valeur non autorisée.'
                              confirmed:
                                type: string
                                example: 'Le champ de confirmation :attribute ne correspond pas.'
                              contains:
                                type: string
                                example: 'Le champ :attribute manque une valeur requise.'
                              current_password:
                                type: string
                                example: 'Le mot de passe est incorrect.'
                              date:
                                type: string
                                example: 'Le champ :attribute doit être une date valide.'
                              date_equals:
                                type: string
                                example: 'Le champ :attribute doit être une date égale à :date.'
                              date_format:
                                type: string
                                example: 'Le champ :attribute doit correspondre au format :format.'
                              decimal:
                                type: string
                                example: 'Le champ :attribute doit avoir :decimal décimales.'
                              declined:
                                type: string
                                example: 'Le champ :attribute doit être décliné.'
                              declined_if:
                                type: string
                                example: 'Le champ :attribute doit être décliné quand :other est :value.'
                              different:
                                type: string
                                example: 'Les champs :attribute et :other doivent être différents.'
                              digits:
                                type: string
                                example: 'Le champ :attribute doit contenir :digits chiffres.'
                              digits_between:
                                type: string
                                example: 'Le champ :attribute doit contenir entre :min et :max chiffres.'
                              dimensions:
                                type: string
                                example: "Les dimensions de l'image :attribute sont invalides."
                              distinct:
                                type: string
                                example: 'Le champ :attribute a une valeur dupliquée.'
                              doesnt_end_with:
                                type: string
                                example: 'Le champ :attribute ne doit pas se terminer par : :values.'
                              doesnt_start_with:
                                type: string
                                example: 'Le champ :attribute ne doit pas commencer par : :values.'
                              email:
                                type: string
                                example: 'Le champ :attribute doit être une adresse email valide.'
                              ends_with:
                                type: string
                                example: 'Le champ :attribute doit se terminer par : :values.'
                              enum:
                                type: string
                                example: 'La valeur sélectionnée pour :attribute est invalide.'
                              exists:
                                type: string
                                example: 'La valeur sélectionnée pour :attribute est invalide.'
                              extensions:
                                type: string
                                example: 'Le champ :attribute doit avoir une des extensions suivantes : :values.'
                              file:
                                type: string
                                example: 'Le champ :attribute doit être un fichier.'
                              filled:
                                type: string
                                example: 'Le champ :attribute doit avoir une valeur.'
                              gt:
                                type: object
                                properties:
                                  array:
                                    type: string
                                    example: 'Le champ :attribute doit contenir plus de :value éléments.'
                                  file:
                                    type: string
                                    example: 'Le fichier :attribute doit être supérieur à :value kilo-octets.'
                                  numeric:
                                    type: string
                                    example: 'Le champ :attribute doit être supérieur à :value.'
                                  string:
                                    type: string
                                    example: 'Le champ :attribute doit contenir plus de :value caractères.'
                              gte:
                                type: object
                                properties:
                                  array:
                                    type: string
                                    example: 'Le champ :attribute doit contenir au moins :value éléments.'
                                  file:
                                    type: string
                                    example: 'Le fichier :attribute doit être supérieur ou égal à :value kilo-octets.'
                                  numeric:
                                    type: string
                                    example: 'Le champ :attribute doit être supérieur ou égal à :value.'
                                  string:
                                    type: string
                                    example: 'Le champ :attribute doit contenir au moins :value caractères.'
                              hex_color:
                                type: string
                                example: 'Le champ :attribute doit être une couleur hexadécimale valide.'
                              image:
                                type: string
                                example: 'Le champ :attribute doit être une image.'
                              in:
                                type: string
                                example: 'La valeur sélectionnée pour :attribute est invalide.'
                              in_array:
                                type: string
                                example: 'Le champ :attribute doit exister dans :other.'
                              integer:
                                type: string
                                example: 'Le champ :attribute doit être un entier.'
                              ip:
                                type: string
                                example: 'Le champ :attribute doit être une adresse IP valide.'
                              ipv4:
                                type: string
                                example: 'Le champ :attribute doit être une adresse IPv4 valide.'
                              ipv6:
                                type: string
                                example: 'Le champ :attribute doit être une adresse IPv6 valide.'
                              json:
                                type: string
                                example: 'Le champ :attribute doit être une chaîne JSON valide.'
                              list:
                                type: string
                                example: 'Le champ :attribute doit être une liste.'
                              lowercase:
                                type: string
                                example: 'Le champ :attribute doit être en minuscules.'
                              lt:
                                type: object
                                properties:
                                  array:
                                    type: string
                                    example: 'Le champ :attribute doit contenir moins de :value éléments.'
                                  file:
                                    type: string
                                    example: 'Le fichier :attribute doit être inférieur à :value kilo-octets.'
                                  numeric:
                                    type: string
                                    example: 'Le champ :attribute doit être inférieur à :value.'
                                  string:
                                    type: string
                                    example: 'Le champ :attribute doit contenir moins de :value caractères.'
                              lte:
                                type: object
                                properties:
                                  array:
                                    type: string
                                    example: 'Le champ :attribute ne doit pas contenir plus de :value éléments.'
                                  file:
                                    type: string
                                    example: 'Le fichier :attribute doit être inférieur ou égal à :value kilo-octets.'
                                  numeric:
                                    type: string
                                    example: 'Le champ :attribute doit être inférieur ou égal à :value.'
                                  string:
                                    type: string
                                    example: 'Le champ :attribute ne doit pas contenir plus de :value caractères.'
                              mac_address:
                                type: string
                                example: 'Le champ :attribute doit être une adresse MAC valide.'
                              max:
                                type: object
                                properties:
                                  array:
                                    type: string
                                    example: 'Le champ :attribute ne doit pas contenir plus de :max éléments.'
                                  file:
                                    type: string
                                    example: 'Le fichier :attribute ne doit pas dépasser :max kilo-octets.'
                                  numeric:
                                    type: string
                                    example: 'Le champ :attribute ne doit pas être supérieur à :max.'
                                  string:
                                    type: string
                                    example: 'Le champ :attribute ne doit pas dépasser :max caractères.'
                              max_digits:
                                type: string
                                example: 'Le champ :attribute ne doit pas contenir plus de :max chiffres.'
                              mimes:
                                type: string
                                example: 'Le champ :attribute doit être un fichier de type : :values.'
                              mimetypes:
                                type: string
                                example: 'Le champ :attribute doit être un fichier de type : :values.'
                              min:
                                type: object
                                properties:
                                  array:
                                    type: string
                                    example: 'Le champ :attribute doit contenir au moins :min éléments.'
                                  file:
                                    type: string
                                    example: 'Le fichier :attribute doit faire au moins :min kilo-octets.'
                                  numeric:
                                    type: string
                                    example: 'Le champ :attribute doit être au moins :min.'
                                  string:
                                    type: string
                                    example: 'Le champ :attribute doit contenir au moins :min caractères.'
                              min_digits:
                                type: string
                                example: 'Le champ :attribute doit contenir au moins :min chiffres.'
                              missing:
                                type: string
                                example: 'Le champ :attribute doit être absent.'
                              missing_if:
                                type: string
                                example: 'Le champ :attribute doit être absent quand :other est :value.'
                              missing_unless:
                                type: string
                                example: 'Le champ :attribute doit être absent sauf si :other est :value.'
                              missing_with:
                                type: string
                                example: 'Le champ :attribute doit être absent quand :values est présent.'
                              missing_with_all:
                                type: string
                                example: 'Le champ :attribute doit être absent quand :values sont présents.'
                              multiple_of:
                                type: string
                                example: 'Le champ :attribute doit être un multiple de :value.'
                              not_in:
                                type: string
                                example: 'La valeur sélectionnée pour :attribute est invalide.'
                              not_regex:
                                type: string
                                example: 'Le format du champ :attribute est invalide.'
                              numeric:
                                type: string
                                example: 'Le champ :attribute doit être un nombre.'
                              password:
                                type: object
                                properties:
                                  letters:
                                    type: string
                                    example: 'Le champ :attribute doit contenir au moins une lettre.'
                                  mixed:
                                    type: string
                                    example: 'Le champ :attribute doit contenir au moins une majuscule et une minuscule.'
                                  numbers:
                                    type: string
                                    example: 'Le champ :attribute doit contenir au moins un chiffre.'
                                  symbols:
                                    type: string
                                    example: 'Le champ :attribute doit contenir au moins un symbole.'
                                  uncompromised:
                                    type: string
                                    example: 'Le :attribute donné est apparu dans une fuite de données. Veuillez choisir un autre :attribute.'
                              present:
                                type: string
                                example: 'Le champ :attribute doit être présent.'
                              present_if:
                                type: string
                                example: 'Le champ :attribute doit être présent quand :other est :value.'
                              present_unless:
                                type: string
                                example: 'Le champ :attribute doit être présent sauf si :other est :value.'
                              present_with:
                                type: string
                                example: 'Le champ :attribute doit être présent quand :values est présent.'
                              present_with_all:
                                type: string
                                example: 'Le champ :attribute doit être présent quand :values sont présents.'
                              prohibited:
                                type: string
                                example: 'Le champ :attribute est interdit.'
                              prohibited_if:
                                type: string
                                example: 'Le champ :attribute est interdit quand :other est :value.'
                              prohibited_unless:
                                type: string
                                example: 'Le champ :attribute est interdit sauf si :other est dans :values.'
                              prohibits:
                                type: string
                                example: 'Le champ :attribute interdit la présence de :other.'
                              regex:
                                type: string
                                example: 'Le format du champ :attribute est invalide.'
                              required:
                                type: string
                                example: 'Le champ :attribute est requis.'
                              required_array_keys:
                                type: string
                                example: 'Le champ :attribute doit contenir des entrées pour : :values.'
                              required_if:
                                type: string
                                example: 'Le champ :attribute est requis quand :other est :value.'
                              required_if_accepted:
                                type: string
                                example: 'Le champ :attribute est requis quand :other est accepté.'
                              required_if_declined:
                                type: string
                                example: 'Le champ :attribute est requis quand :other est décliné.'
                              required_unless:
                                type: string
                                example: 'Le champ :attribute est requis sauf si :other est dans :values.'
                              required_with:
                                type: string
                                example: 'Le champ :attribute est requis quand :values est présent.'
                              required_with_all:
                                type: string
                                example: 'Le champ :attribute est requis quand :values sont présents.'
                              required_without:
                                type: string
                                example: "Le champ :attribute est requis quand :values n'est pas présent."
                              required_without_all:
                                type: string
                                example: "Le champ :attribute est requis quand aucun de :values n'est présent."
                              same:
                                type: string
                                example: 'Les champs :attribute et :other doivent correspondre.'
                              size:
                                type: object
                                properties:
                                  array:
                                    type: string
                                    example: 'Le champ :attribute doit contenir :size éléments.'
                                  file:
                                    type: string
                                    example: 'Le fichier :attribute doit faire :size kilo-octets.'
                                  numeric:
                                    type: string
                                    example: 'Le champ :attribute doit être :size.'
                                  string:
                                    type: string
                                    example: 'Le champ :attribute doit contenir :size caractères.'
                              starts_with:
                                type: string
                                example: 'Le champ :attribute doit commencer par : :values.'
                              string:
                                type: string
                                example: 'Le champ :attribute doit être une chaîne de caractères.'
                              timezone:
                                type: string
                                example: 'Le champ :attribute doit être un fuseau horaire valide.'
                              unique:
                                type: string
                                example: 'La valeur du champ :attribute est déjà utilisée.'
                              uploaded:
                                type: string
                                example: 'Le téléchargement du fichier :attribute a échoué.'
                              uppercase:
                                type: string
                                example: 'Le champ :attribute doit être en majuscules.'
                              url:
                                type: string
                                example: 'Le champ :attribute doit être une URL valide.'
                              ulid:
                                type: string
                                example: 'Le champ :attribute doit être un ULID valide.'
                              uuid:
                                type: string
                                example: 'Le champ :attribute doit être un UUID valide.'
                              custom:
                                type: object
                                properties:
                                  email:
                                    type: object
                                    properties:
                                      unique: { type: string, example: 'Cette adresse email est déjà utilisée.' }
                                  phone:
                                    type: object
                                    properties:
                                      unique: { type: string, example: 'Ce numéro de téléphone est déjà utilisé.' }
                                  password:
                                    type: object
                                    properties:
                                      min: { type: string, example: 'Le mot de passe doit contenir au moins :min caractères.' }
                              attributes:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    example: nom
                                  email:
                                    type: string
                                    example: email
                                  password:
                                    type: string
                                    example: 'mot de passe'
                                  password_confirmation:
                                    type: string
                                    example: 'confirmation du mot de passe'
                                  phone:
                                    type: string
                                    example: téléphone
                                  first_name:
                                    type: string
                                    example: prénom
                                  last_name:
                                    type: string
                                    example: 'nom de famille'
                                  address:
                                    type: string
                                    example: adresse
                                  city:
                                    type: string
                                    example: ville
                                  postal_code:
                                    type: string
                                    example: 'code postal'
                                  country:
                                    type: string
                                    example: pays
                                  title:
                                    type: string
                                    example: titre
                                  description:
                                    type: string
                                    example: description
                                  price:
                                    type: string
                                    example: prix
                                  quantity:
                                    type: string
                                    example: quantité
                                  date:
                                    type: string
                                    example: date
                                  time:
                                    type: string
                                    example: heure
                                  start_date:
                                    type: string
                                    example: 'date de début'
                                  end_date:
                                    type: string
                                    example: 'date de fin'
                                  image:
                                    type: string
                                    example: image
                                  file:
                                    type: string
                                    example: fichier
                                  content:
                                    type: string
                                    example: contenu
                                  message:
                                    type: string
                                    example: message
                                  subject:
                                    type: string
                                    example: sujet
                                  amount:
                                    type: string
                                    example: montant
                      version:
                        type: string
                        example: 638f128c9bc6f10b2931d45c6f4c5cb6
      tags:
        - Autres
      security: []
    parameters:
      -
        in: path
        name: locale
        description: ''
        example: sr_BA
        required: true
        schema:
          type: string
  '/api/translations/{locale}/{namespace}':
    get:
      summary: 'Get translations for a specific namespace.'
      operationId: getTranslationsForASpecificNamespace
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Translation namespace not found.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Translation namespace not found.'
      tags:
        - Autres
      security: []
    parameters:
      -
        in: path
        name: locale
        description: ''
        example: sr_BA
        required: true
        schema:
          type: string
      -
        in: path
        name: namespace
        description: ''
        example: architecto
        required: true
        schema:
          type: string
  /api/v1/auth/register/business:
    post:
      summary: 'Register a new business organization.'
      operationId: registerANewBusinessOrganization
      description: "This creates:\n1. A new user with role=customer\n2. A new organization with type=business\n3. An organization member entry (owner)\n4. Optionally sends team invitations"
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: fr
          schema:
            type: string
      responses: {  }
      tags:
        - Autres
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 100 caractères.'
                  example: b
                last_name:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 100 caractères.'
                  example: 'n'
                email:
                  type: string
                  description: 'Le champ value doit être une adresse email valide. Le champ value ne doit pas dépasser 255 caractères.'
                  example: ashly64@example.com
                phone:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 20 caractères.'
                  example: vdljnikhwaykcmyu
                  nullable: true
                password:
                  type: string
                  description: ''
                  example: architecto
                company_name:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 255 caractères.'
                  example: 'n'
                siret:
                  type: string
                  description: 'Must match the regex /^[0-9]+$/. Le champ value doit contenir 14 caractères.'
                  example: gzmiyvdljnikhw
                  nullable: true
                industry:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 100 caractères.'
                  example: a
                  nullable: true
                employee_count:
                  type: string
                  description: 'Le champ value ne doit pas dépasser 20 caractères.'
[...]
